WebServisTwitInsta/OdevClient/src/conf/xml-resources/web-service-references/servis/wsdl/localhost_8080/XMLOdevServer/servis.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servis/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servis/" name="servis">
<types>
<xsd:schema>
<xsd:import namespace="http://servis/" schemaLocation="http://localhost:8080/XMLOdevServer/servis?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getInstaPic">
<part name="parameters" element="tns:getInstaPic"/>
</message>
<message name="getInstaPicResponse">
<part name="parameters" element="tns:getInstaPicResponse"/>
</message>
<message name="getTwitPic">
<part name="parameters" element="tns:getTwitPic"/>
</message>
<message name="getTwitPicResponse">
<part name="parameters" element="tns:getTwitPicResponse"/>
</message>
<portType name="servis">
<operation name="hello">
<input wsam:Action="http://servis/servis/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servis/servis/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getInstaPic">
<input wsam:Action="http://servis/servis/getInstaPicRequest" message="tns:getInstaPic"/>
<output wsam:Action="http://servis/servis/getInstaPicResponse" message="tns:getInstaPicResponse"/>
</operation>
<operation name="getTwitPic">
<input wsam:Action="http://servis/servis/getTwitPicRequest" message="tns:getTwitPic"/>
<output wsam:Action="http://servis/servis/getTwitPicResponse" message="tns:getTwitPicResponse"/>
</operation>
</portType>
<binding name="servisPortBinding" type="tns:servis">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInstaPic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTwitPic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servis">
<port name="servisPort" binding="tns:servisPortBinding">
<soap:address location="http://localhost:8080/XMLOdevServer/servis"/>
</port>
</service>
</definitions>